.alert{
    /* background-color: red; */
    animation: mymove 3s infinite;
}

@keyframes mymove {
    0% {background-color: white;}
    50% {background-color: rgba(255, 0, 0, 0.158);}
    100% {background-color: white;}
  }

  .search{
      width:100px;
      border:none;
      border-bottom: thin solid grey;
      
  }