<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title ">Funcionários</h4>
                      <p class="card-category"> </p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table" >
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                      <br/>
                                      <input class='search'>
                                  </th>
                                  <th>
                                      Name
                                      <br/>
                                      <input class='search'>
                                  </th>
                                  <th>
                                      Country
                                      <br/>
                                      <input class='search'>
                                  </th>
                                  <th>
                                      City
                                      <br/>
                                      <input class='search'>
                                  </th>
                                  <th>
                                      Job Title
                                      <br/>
                                      <input class='search'>
                                  </th>
                                  <th>
                                      Salary
                                      <br/>
                                      <input class='search'>
                                  </th>
                                  <th>

                                  </th>
                              </thead>
                              <tbody>
                                  <tr >
                                      <td>
                                        BR377885127
                                      </td>
                                      <td>
                                          Nome 1
                                      </td>
                                      <td>
                                          Brasil
                                      </td>
                                      <td>
                                          São Paulo
                                      </td>
                                      <td>
                                          Analista de Dados
                                      </td>
                                      <td class="text-primary">
                                          R$3.500
                                      </td>
                                      <td>
                                        <i style='cursor:pointer' [routerLink]="'/dashboard'" class="material-icons">search</i>
                                      </td>
                                  </tr>
                                  <tr class='alert'>
                                    <td>
                                      BR377885127
                                    </td>
                                    <td>
                                        Nome 1
                                    </td>
                                    <td>
                                        Brasil
                                    </td>
                                    <td>
                                        São Paulo
                                    </td>
                                    <td>
                                        Analista de Dados
                                    </td>
                                    <td class="text-primary">
                                        R$2.500
                                    </td>
                                    <td>
                                        <i style='cursor:pointer' [routerLink]="'/dashboard'" class="material-icons">search</i>
                                      </td>
                                </tr>
                                <tr >
                                    <td>
                                      BR377885127
                                    </td>
                                    <td>
                                        Nome 1
                                    </td>
                                    <td>
                                        Brasil
                                    </td>
                                    <td>
                                        São Paulo
                                    </td>
                                    <td>
                                        Analista de Dados
                                    </td>
                                    <td class="text-primary">
                                        R$3.500
                                    </td>
                                    <td>
                                        <i style='cursor:pointer' [routerLink]="'/dashboard'" class="material-icons">search</i>
                                      </td>
                                </tr>
                                <tr >
                                    <td>
                                      BR377885127
                                    </td>
                                    <td>
                                        Nome 1
                                    </td>
                                    <td>
                                        Brasil
                                    </td>
                                    <td>
                                        São Paulo
                                    </td>
                                    <td>
                                        Analista de Dados
                                    </td>
                                    <td class="text-primary">
                                        R$3.500
                                    </td>
                                    <td>
                                        <i style='cursor:pointer' [routerLink]="'/dashboard'" class="material-icons">search</i>
                                      </td>
                                </tr>
                                <tr class='alert'>
                                    <td>
                                      BR377885127
                                    </td>
                                    <td>
                                        Nome 1
                                    </td>
                                    <td>
                                        Brasil
                                    </td>
                                    <td>
                                        São Paulo
                                    </td>
                                    <td>
                                        Analista de Dados
                                    </td>
                                    <td class="text-primary">
                                        R$2.350
                                    </td>
                                    <td>
                                        <i style='cursor:pointer' [routerLink]="'/dashboard'" class="material-icons">search</i>
                                      </td>
                                </tr>
                                <tr >
                                    <td>
                                      BR377885127
                                    </td>
                                    <td>
                                        Nome 1
                                    </td>
                                    <td>
                                        Brasil
                                    </td>
                                    <td>
                                        São Paulo
                                    </td>
                                    <td>
                                        Analista de Dados
                                    </td>
                                    <td class="text-primary">
                                        R$3.500
                                    </td>
                                    <td>
                                        <i style='cursor:pointer' [routerLink]="'/dashboard'" class="material-icons">search</i>
                                      </td>
                                </tr>
                                <tr >
                                    <td>
                                      BR377885127
                                    </td>
                                    <td>
                                        Nome 1
                                    </td>
                                    <td>
                                        Brasil
                                    </td>
                                    <td>
                                        São Paulo
                                    </td>
                                    <td>
                                        Analista de Dados
                                    </td>
                                    <td class="text-primary">
                                        R$3.500
                                    </td>
                                    <td>
                                        <i style='cursor:pointer' [routerLink]="'/dashboard'" class="material-icons">search</i>
                                      </td>
                                </tr>

                                 
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
